body {
    background-color: $color-three;
    font-family: $policeDefault, 'sans-serif';
    color: $text-color-default;
    font-size: $text-size-p;
}

a {
    color: $text-color-default;
    text-decoration: none;
}