@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

$policeDefault: 'Roboto';

$color-one: #D83A56;
$color-two: #FF616D;
$color-three: #FFEAC9;
$color-four: #66DE93;

$color-light: white;

$text-color-default: black;

$text-size-p: 16px;
$text-size-title: 22px;